@tailwind base;
@tailwind components;
@tailwind utilities;
.jsScroll {
    opacity: 0;
    transform: translateY(10px);
    transition: 1s;
}

.jsActive {
    opacity: 1;
    transform: translateY(0);
    transition: 1s;
}
